<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kt.upms.mapper.UpmsPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kt.upms.entity.UpmsPermission">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="type" property="type"/>
        <result column="code" property="code"/>
        <result column="resource_id" property="resourceId"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        gmt_create,
        gmt_modified,
        type, code, status, resource_id
    </sql>
    <select id="selectByRoleIds" resultType="com.kt.upms.entity.UpmsPermission">
        select up.id, up.type, up.code
        from upms_permission up
                 inner join upms_permission_role_rel uprr on up.id = uprr.permission_id
    </select>

    <select id="selectPageElementPermissionsByRouteId" resultType="com.kt.upms.module.permission.vo.PermissionElementVO">
        select up.id id,
               up.code,
               route_id,
               name,
               upe.type
        from upms_permission up
                 inner join upms_page_element upe on upe.id = up.resource_id
        where up.is_deleted = 0
          and upe.is_deleted = 0
          and up.type = 'PAGE_ELEMENT'
          and upe.route_id = #{routeId}
          and up.is_deleted = 0
          and upe.is_deleted = 0

    </select>
    <select id="selectByRoleIdAndType" resultType="com.kt.upms.entity.UpmsPermission">
        select up.id,
               code
        from upms_permission up
        inner join upms_permission_role_rel uprr on uprr.permission_id = up.id
        where role_id = #{roleId} and up.type = #{type}
        and up.is_deleted = 0
    </select>

</mapper>
